<div class="flex flex-row justify-between items-center">
<h1 class="text-xl font-bold">Menu Items</h1>
  <%= link_to "Add Menu Items", :new_menu, class: "bg-blue-500 text-white mb-2 p-2 rounded-md" %>
</div>

<%= form_with url: "/menus",  class: 'mb-4', method: :get do |form| %>
  <%= form.label :search, "Search for:" %>
  <%= form.text_field :search, class: 'border-2 border-gray-200 rounded-md focus:ring-2 focus:ring-blue-600 w-full my-4 h-8 px-2' %>
  <%= form.submit "Search", class: 'bg-green-500 active:bg-green-700 cursor-pointer text-white p-2 rounded-md'%>
<% end %>

<table class="table-fixed w-full">
  <thead>
    <tr>
      <th class="w-1/12 border-gray-400 border-2">No</th>
      <th class="w-1/2 border-gray-400 border-2">Menu Name</th>
      <th class="w-1/4 border-gray-400 border-2">Price</th>
      <th class="w-1/4 border-gray-400 border-2">Category</th>
      <th class="w-1/4 border-gray-400 border-2">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @menus.each.with_index do |menu, index| %>
      <tr>
        <td class="border-gray-400 border-2 text-center"><%= index + 1 %></td>
        <td class="border-gray-400 border-2 px-2"><%= menu.menu_name %></td>
        <td class="border-gray-400 border-2 px-2"><%= menu.price %></td>
        <td class="border-gray-400 border-2 pl-8">
        <ul class="list-disc">
          <% menu.category_ids.each do |id| %>
            <li><%= Category.find(id).name %></li>
          <% end %>
        </ul>
        </td>
        </td>
        <td class="border-gray-400 border-r-2 border-b-2 flex flex-col px-32">
            <%= link_to "View", menu_path(menu, @menu), class: "bg-green-500 text-white mt-2 mb-2 p-2 rounded-md text-center" %>
            <%= link_to "Edit",  edit_menu_path(menu, @menu), class: "bg-blue-500 text-white mt-2 mb-2 p-2 rounded-md text-center" %>
            <%= link_to "Delete", menu_path(menu, @menu), method: :delete, class: "bg-red-500 text-white mt-2 mb-2 p-2 rounded-md text-center" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>