<div class="border-2 border-gray-300 p-4">
<h1 class="text-2xl">Add menu items</h1>
<hr class="mb-4" />

<%= form_for @menu, url: {action: "create"}, html: {class: "flex flex-col"} do |f| %>
  <%= f.label :menu_name, "Menu Name: " %>
  <%= f.text_field :menu_name, class: 'border-2 border-gray-200 rounded-md focus:ring-2 focus:ring-blue-600 w-full my-4 h-8 px-2' %>

  <%= f.label :price, "Price: " %>
  <%= f.text_field :price, class: 'border-2 border-gray-200 rounded-md focus:ring-2 focus:ring-blue-600 w-full mt-4 h-8 px-2' %>

  <%= f.label :category_ids, "Category: ", class: 'my-4' %>
  <%= collection_check_boxes(:menu, :category_ids, Category.all, :id, :name, include_hidden: false) do |checkbox| %>
      <div class="mb-1">
        <%= checkbox.check_box %>
        <%= checkbox.label %> 
      </div>
  <% end %>
  <div class="flex flex-row self-end mt-16">
  <%= link_to "Cancel", :menus, class: "bg-gray-400 text-white p-2 rounded-md" %>
  <%= f.submit "Submit Menu", class: 'bg-green-500 active:bg-green-700 cursor-pointer text-white p-2 rounded-md ml-4' %>
  </div>
<% end %>

</div>