<div class="border-2 border-gray-300 p-4">
<div class="flex flex-row justify-between">
<h1 class="text-2xl">Menu Item</h1>
<%= link_to "Back", :menus, class: "bg-gray-400 text-white p-2 rounded-md" %>
</div>
<hr class="mb-4" />

<%= form_for @menu, html: {class: "flex flex-col"} do |f| %>
  <%= f.label :menu_name, "Menu Name: " %>
  <%= f.text_field :menu_name, :disabled => true, class: 'border-2 border-gray-200 rounded-md focus:ring-2 focus:ring-blue-600 w-full my-4 h-8 px-2' %>

  <%= f.label :price, "Price: " %>
  <%= f.text_field :price, :disabled => true, class: 'border-2 border-gray-200 rounded-md focus:ring-2 focus:ring-blue-600 w-full mt-4 h-8 px-2' %>

  <%= f.label :category_ids, "Category: ", class: 'my-4' %>
  <%= collection_check_boxes(:menu, :category_ids, Category.all, :id, :name, include_hidden: false) do |checkbox| %>
      <div class="mb-1">
        <%= checkbox.check_box :disabled => true %>
        <%= checkbox.label %> 
      </div>
  <% end %>
  <div class="flex flex-row self-end mt-16">
  <%= link_to "Delete", menu_path(@menu), method: :delete, class: "bg-red-500 text-white p-2 rounded-md" %>
  <%= link_to "Edit", edit_menu_path(@menu), class: "w-16 bg-blue-500 text-white p-2 rounded-md ml-4 text-center" %>
  </div>
<% end %>

</div>