<div class="border-2 border-gray-300 p-4">
<h1 class="text-2xl">Edit Customer</h1>
<hr class="mb-4" />

<%= form_for @customer, url: {action: "update"}, html: {class: "flex flex-col"} do |f| %>
  <%= f.label :customer_name, "Customer Name: " %>
  <%= f.text_field :customer_name, class: 'border-2 border-gray-200 rounded-md focus:ring-2 focus:ring-blue-600 w-full my-4 h-8 px-2' %>

  <%= f.label :phone_number, "Phone Number: " %>
  <%= f.text_field :phone_number, class: 'border-2 border-gray-200 rounded-md focus:ring-2 focus:ring-blue-600 w-full mt-4 h-8 px-2' %>

  <div class="flex flex-row self-end mt-16">
  <%= link_to "Cancel", :customers, class: "bg-gray-400 text-white p-2 rounded-md" %>
  <%= f.submit "Submit Menu", class: 'bg-green-500 active:bg-green-700 cursor-pointer text-white p-2 rounded-md ml-4' %>
  </div>
<% end %>

</div>