<div class="border-2 border-gray-300 p-4">
<div class="flex flex-row justify-between">
<h1 class="text-2xl">Customer</h1>
<%= link_to "Back", :customers, class: "bg-gray-400 text-white p-2 rounded-md" %>
</div>
<hr class="mb-4" />

<%= form_for @customer, url: {action: "create"}, html: {class: "flex flex-col"} do |f| %>
  <%= f.label :customer_name, "Customer Name: " %>
  <%= f.text_field :customer_name, :disabled => true, class: 'border-2 border-gray-200 rounded-md focus:ring-2 focus:ring-blue-600 w-full my-4 h-8 px-2' %>

  <%= f.label :phone_number, "Phone Number: " %>
  <%= f.text_field :phone_number, :disabled => true, class: 'border-2 border-gray-200 rounded-md focus:ring-2 focus:ring-blue-600 w-full mt-4 h-8 px-2' %>

  <label class="mt-4">Orders</label>

  <table class="table-fixed w-full mt-4">
  <thead>
    <tr>
      <th class="w-1/12 border-gray-400 border-2">No</th>
      <th class="w-1/4 border-gray-400 border-2">Order ID</th>
      <th class="w-1/4 border-gray-400 border-2">Total Price</th>
      <th class="w-1/4 border-gray-400 border-2">Time created</th>
      <th class="w-1/4 border-gray-400 border-2">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each.with_index do |order, index| %>
      <tr>
        <td class="border-gray-400 border-2 text-center"><%= index + 1 %></td>
        <td class="border-gray-400 border-2 pl-8"><%= order.id %></td>
        <td class="border-gray-400 border-2 pl-8"><%= order.total_price %></td>
        <td class="border-gray-400 border-2 pl-8"><%= order.created_at.localtime.strftime("%e %B %Y, %T") %></td>
        <td class="border-gray-400 border-r-2 border-b-2 flex flex-col px-32">
            <%= link_to "View", order_path(order, @order), class: "bg-green-500 text-white mt-2 mb-2 p-2 rounded-md text-center" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

  <div class="flex flex-row self-end mt-16">
  <%= link_to "Delete", customer_path(@customer), method: :delete, class: "bg-red-500 text-white p-2 rounded-md" %>
  <%= link_to "Edit", edit_customer_path(@customer), class: "w-16 bg-blue-500 text-white p-2 rounded-md ml-4 text-center" %>
  </div>
<% end %>

</div>