<div class="border-2 border-gray-300 p-4">
<h1 class="text-2xl">Add order</h1>
<hr class="mb-4" />

<div class="flex flex-col justify-center">

<table class="table-fixed w-full">
  <thead>
    <tr>
      <th class="w-1/12 border-gray-400 border-2">No</th>
      <th class="w-1/2 border-gray-400 border-2">Customer Name</th>
      <th class="w-1/4 border-gray-400 border-2">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each.with_index do |customer, index| %>
      <tr>
        <td class="border-gray-400 border-2 text-center"><%= index + 1 %></td>
        <td class="border-gray-400 border-2 px-2"><%= customer.customer_name %></td>
        <td class="border-gray-400 border-r-2 border-b-2 flex flex-col px-32">
          <%= link_to "Choose Menu", get_order_customer_path(customer, @customer), class: "bg-green-500 text-white mt-2 mb-2 p-2 rounded-md text-center" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  <div class="flex flex-row self-end mt-16">
    <%= link_to "Cancel", :orders, class: "bg-gray-400 text-white p-2 rounded-md" %>
  </div>
</div>