<div class="border-2 border-gray-300 p-4 h-96">
<h1 class="text-xl font-bold">Menu items</h1>
<hr class="mb-4" />
<%= form_with model: @order, url: "/orders/" << params[:id], class: 'flex flex-col', method: :post do |form| %>
<table class="table-fixed w-full">
  <thead>
    <tr>
      <th class="w-1/12 border-gray-400 border-2">No</th>
      <th class="w-1/2 border-gray-400 border-2">Menu Name</th>
      <th class="w-1/2 border-gray-400 border-2">Price</th>
      <th class="w-1/4 border-gray-400 border-2">Quantity</th>
    </tr>
  </thead>

  <tbody>
    <% @menus.each.with_index do |menu, index| %>
      <tr>
        <td class="border-gray-400 border-2 text-center"><%= index + 1 %></td>
        <td class="border-gray-400 border-2 px-2"><%= menu.menu_name %></td>
        <td class="border-gray-400 border-2 px-2"><%= menu.price %></td>
        <td class="border-gray-400 border-r-2 border-b-2 flex flex-col p-4">
        <%= form.fields_for :menu_orders do |builder| %>
              <div class="field">
                <%= builder.hidden_field :menu_id, value: menu.id %>
                <%= builder.number_field :quantity, min: 0, class: 'border-2 border-gray-200 rounded-md focus:ring-2 focus:ring-blue-600 w-full h-8 px-2' %>
              </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  <div class="flex flex-row self-end mt-16">
  <%= link_to "Cancel", :orders, class: "bg-gray-400 text-white p-2 rounded-md" %>
  <%= form.submit "Submit Order", class: 'bg-green-500 active:bg-green-700 cursor-pointer text-white p-2 rounded-md ml-4' %>
  </div>
<% end %>
</div>