<div class="border-2 border-gray-300 p-4">

<div class="flex flex-row justify-between">
<h1 class="text-2xl">Order</h1>
<%= link_to "Back", :orders, class: "bg-gray-400 text-white p-2 rounded-md" %>
</div>
<hr class="mb-4" />

<form class="flex flex-col">
    <label>Customer Name:</label>
    <input disabled class='border-2 border-gray-200 rounded-md focus:ring-2 focus:ring-blue-600 w-full my-4 h-8 px-2' value=<%= @customer.customer_name %>></input>
    <label>Total price:</label>
    <input disabled class='border-2 border-gray-200 rounded-md focus:ring-2 focus:ring-blue-600 w-full my-4 h-8 px-2' value=<%= @order.total_price %>></input>
</form>

<label>Detail:</label>
<table class="table-fixed w-full">
  <thead>
    <tr>
      <th class="w-1/12 border-gray-400 border-2">No</th>
      <th class="w-1/2 border-gray-400 border-2">Menu Name</th>
      <th class="w-1/4 border-gray-400 border-2">Menu Price</th>
      <th class="w-1/4 border-gray-400 border-2">Quantity</th>
      <th class="w-1/4 border-gray-400 border-2">Subtotal</th>
    </tr>
  </thead>

  <tbody>
    <% @menu_orders.each.with_index do |order, index| %>
      <tr>
        <td class="border-gray-400 border-2 text-center"><%= index + 1 %></td>
        <td class="border-gray-400 border-2 px-2"><%= Menu.find(order.menu_id).menu_name %></td>
        <td class="border-gray-400 border-2 px-2"><%= Menu.find(order.menu_id).price %></td>
        <td class="border-gray-400 border-2 pl-8"><%= order.quantity %></td>
        <td class="border-gray-400 border-2 px-2"><%= Menu.find(order.menu_id).price * order.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>