<div class="border-2 border-gray-300 p-4 h-96">
<h1 class="text-2xl">Edit menu category</h1>
<hr class="mb-4" />
<%= form_with model: Category.new, url: update_category_url(@category), class: 'flex flex-col', method: :patch do |form| %>
    <div>
  <%= form.label :name, "Category Name:" %>
  <%= form.text_field :name, value: @category.name, class: 'border-2 border-gray-200 rounded-md focus:ring-2 focus:ring-blue-600 w-full mt-4 h-8 px-2' %>
  <p class="mt-4 text-red-600"><%= flash[:error] %></p>
  </div>
  <div class="flex flex-row self-end mt-16">
  <%= link_to "Cancel", :categories, class: "bg-gray-400 text-white p-2 rounded-md" %>
  <%= form.submit "Submit Category", class: 'bg-green-500 active:bg-green-700 cursor-pointer text-white p-2 rounded-md ml-4' %>
  </div>
<% end %>
</div>