<div class="border-2 border-gray-300 p-4 h-96">
<div class="flex flex-row justify-between">
<h1 class="text-2xl">Category Name</h1>
<%= link_to "Back", :categories, class: "bg-gray-400 text-white p-2 rounded-md" %>
</div>
<hr class="mb-4" />
<%= form_with class: 'flex flex-col' do |form| %>
    <div>
  <%= form.label :name, "Category Name:" %>
  <%= form.text_field :name, value: @category.name, :disabled => true, class: 'disabled:bg-gray-400 border-2 border-gray-200 rounded-md focus:ring-2 focus:ring-blue-600 w-full mt-4 h-8 px-2' %>
  </div>
  <div class="flex flex-row self-end mt-16">
  <%= link_to "Delete", category_path(@category), method: :delete, class: "bg-red-500 text-white p-2 rounded-md" %>
  <%= link_to "Edit", edit_category_path(@category), class: "w-16 bg-blue-500 text-white p-2 rounded-md ml-4 text-center" %>
  </div>
<% end %>
</div>