<div class="bg-blue-400 p-4 mb-8 px-8">
    <h1 class="text-3xl font-bold">Food Order Management System</h1>
</div>
<div class="px-8 mt-4">
    <%= link_to "Menu Items",  :menus, class: "border border-blue-400 border-r-0 p-2 cursor-pointer" %><%= link_to "Categories",  :categories, class: "border border-blue-400 border-r-0 p-2 cursor-pointer" %><%= link_to "Orders",  :orders, class: "border border-blue-400 border-r-0 p-2 cursor-pointer" %><%= link_to "Customers",  :customers, class: "border border-blue-400 p-2 cursor-pointer" %>
</div>